@import 'tailwindcss';

@import 'preline/variants.css';
@import '@material-symbols/font-400';

@source '../node_modules/preline/dist/*.js';

/* Optional plugins */
/* @import "preline/src/plugins/datepicker/styles.css"; */

/* Third-party plugins */
/* @plugin "@tailwindcss/forms"; */
/* @plugin "@tailwindcss/aspect-ratio"; */

/* Adds pointer cursor to buttons */
@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

svg { pointer-events: none !important; }
.material-symbols-outlined {
    font-size: inherit;
    pointer-events: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
}

a, img {
    -webkit-user-drag: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
}
